## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="bodyclass">view-in-course</%block>
<%block name="pagetitle">${_("Mensajeria")}</%block>
<%inherit file="/main.html" />
<%block name="headextra">

<link rel="stylesheet" type="text/css" href="${static.url('eol_directmessage/css/main.css')}"/> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<%static:css group='style-course'/>
</%block>
<%include file="/courseware/course_navigation.html" args="active_page='eol_directmessage'" />

<style>
    .content-wrapper {
        padding: 0px;
    }
    .window-wrap {
        margin-top: -20px;
    }
    .wrapper-course-material .course-tabs {
        padding: 0 20px 10px;
    }
    #main div {
        display:block;
        border: none;
        box-shadow: none;
    }
    #main .row {
        display: flex;
    }
    #main {
        border: 1px solid #c8c8c8;
        margin: -11px 20px 10px;
    }
    #main div[class*="col-"] {
        padding-left: 0px;
        padding-right: 0px;
    }

    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .list_container {
        border: 1px solid #c8c8c8 !important;
        overflow-y: scroll;
        height: 250px;
        max-height: 250px;
    }

</style>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="container mb-3">
        <div class="row chat-header mt-4">
            <div class="col-5">
                <p class="dm-header">Conversaciones Recientes</p>
            </div>
            <div class="col-7 ml-auto">
                <div class="notification-config btn-group float-left" role="group">
                    % if user_config['is_muted']:
                        <button type="button" class="is_muted btn-sm btn-outline-danger my-1"><i class="fa fa-bell-slash"></i> Notificaciones Desactivadas</button>
                    % else:
                        <button type="button" class="is_not_muted btn-sm btn-outline-success my-1"><i class="fa fa-bell"></i> Notificaciones Activadas</button>
                    % endif
                </div>
                <div class="btn-group float-right" role="group">
                    <button type="button" class="new-chat-btn my-1"><i class="fa fa-plus-circle"></i> Nueva Conversación</button>
                    <button type="button" class="reload-chats my-1"><i class="fa fa-refresh"></i> Actualizar</button>
                </div>
            </div>
        </div>
        <div class="row chat-row">
            <div class="col-md-5 chat-col">
                <img id="list-loading" class="loading" src="${static.url('eol_directmessage/img/loader.svg')}" alt="Cargando ...">
                <div id="list">
                    <ul class="recent-messages-list"></ul>
                </div>
            </div>
            <div class="col-md-7 chat-col">
                <img id="messages-loading" class="loading" src="${static.url('eol_directmessage/img/loader.svg')}" alt="Cargando ...">
                <div id="dmChats"></div>
                <div class="input-group send-message">
                    <form id="new-message-form">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
                        <input type="text" class="form-control rounded-0" name="new-message" id="new-message" placeholder="Nuevo Mensaje" required>
                        <input type="hidden" name="username-message" id="username-message">
                        <div class="input-group-prepend">
                            <button type="submit" vlaue="submit" class="course-target-link submit-message">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container new-chat">
        <div class="row">
            
            <div class="col-md-12 my-2">
                <p class="dm-header">Iniciar una nueva conversación</p>
                <p class="mt-2"><small>Selecciona si quieres hablar con el equipo docente o con otros estudiantes del curso</small></p>
            </div>
            <div class="col-md-12 mb-2">
                <a class="new-chat-filter filter-staff btn btn-info" style="line-height: 1" href="javascript:void(0);">
                    <span class="icon fa fa-graduation-cap" aria-hidden="true"></span>
                    Equipo Docente
                </a>
                <a class="new-chat-filter filter-no-staff btn btn-outline-info" style="line-height: 1" href="javascript:void(0);">
                    Otros Estudiantes
                </a>
            </div>
            <div class="col-md-12 mt-2">
                <input type="text" id="search_input" placeholder="Buscar por nombre">
                <ul class="list_container" id="all_students_list">
                    %for student in students:
                        <%
                            # display only student will role (staff)
                            display = "" if student.has_role else "none"
                        %>
                    <li class="student-list list-${student.username}">
                        <a href="#" id="list-${student.username}" class="${student.has_role}" style="display: ${display}">${student.profile.name}</a>
                    </li>
                    %endfor
                    <p id="all_students_list_status"></p>
                </ul>
            </div>
            
        </div>
    </div>

    <script>
        // Declare global variable to use context attributes
        var DEFAULT_USERNAME = "${default_username}";
        var URL_GET_STUDENT_CHAT = "${url_get_student_chats}";
        var URL_GET_MESSAGES = "${url_get_messages}";
        var USER_USERNAME = "${user.username}";
        var URL_NEW_MESSAGE = "${url_new_message}";
        var COURSE_ID = "${course.id}";
        var URL_UPDATE_CONFIGURATION = "${url_update_configuration}";
    </script>
    <script type="text/javascript" src="${static.url('eol_directmessage/js/main.js')}"></script>
</main>