## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="bodyclass">view-in-course</%block>
<%block name="pagetitle">${_("Mensajeria")}</%block>
<%inherit file="/main.html" />
<%block name="headextra">
<%static:css group='style-course'/>
</%block>
<%include file="/courseware/course_navigation.html" args="active_page='eol_directmessage'" />

<style>

    .content-wrapper {
        padding: 0px;
    }
    .window-wrap {
        margin-top: -20px;
    }
    
    .wrapper-course-material .course-tabs {
        padding: 0 20px 10px;
    }

    #main div {
        border: none;
        display: block;
    }
    #main {
        border: 1px solid #c8c8c8;
        margin: -11px 20px 10px;
    }
    
</style>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="container">
        Chats:
        <div id="chats"></div>

    </div>
    <div class="container">
        <br><br>
        Listado de estudiantes<br>
        <ul>
        %for student in students:
            <li>${student.profile.name}</li>
        %endfor
        </ul>
    </div>

    <script>
        $( document ).ready(function() {
            get_chats();
            
            function get_chats(){
                var user_id = "${user_id}";
                var url = "${url_get_chats}";
                $.ajax({
                    url:   url,
                    beforeSend: function () {
                        $('#chats').html("cargando");
                    },
                    success:  function (response) {
                        console.log(response);
                        user_data = response;
                        $('#chats').html('');
                        for(chat of user_data) {
                            username = "matsalinas";
                            if (username == chat.sender_user__profile__name) 
                                $('#chats').append(chat.receiver_user__profile__name);
                            else 
                                $('#chats').append(chat.sender_user__profile__name);
                            $('#chats').append(" - " + chat.min_viewed + "<br/>");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("Error, intente nuevamente más tarde");
                        console.log(xhr);
                        console.log(ajaxOptions);
                        console.log(thrownError);
                    },
                    complete: function() {
                    }
                });
            }
        });
    </script>
</main>