## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="bodyclass">view-in-course</%block>
<%block name="pagetitle">${_("Mensajeria")}</%block>
<%inherit file="/main.html" />
<%block name="headextra">
<%static:css group='style-course'/>
</%block>
<%include file="/courseware/course_navigation.html" args="active_page='eol_directmessage'" />

<style>

    .content-wrapper {
        padding: 0px;
    }
    .window-wrap {
        margin-top: -20px;
    }
    
    .wrapper-course-material .course-tabs {
        padding: 0 20px 10px;
    }

    #main div {
        border: none;
        display: block;
    }
    #main {
        border: 1px solid #c8c8c8;
        margin: -11px 20px 10px;
    }
    
</style>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="container" id="chats">

    </div>
    <div class="container">
        %for student in students:
            ${student.profile.name}<br/>
        %endfor
    </div>

    <script>
        $( document ).ready(function() {
            get_chats();
            
            function get_chats(){
                var user_id = "${user_id}";
                var url = "${url_get_chats}";
                $.ajax({
                    url:   url,
                    beforeSend: function () {
                        $('#chats').html("cargando");
                    },
                    success:  function (response) {
                        console.log(response);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("Error, intente nuevamente más tarde");
                        console.log(xhr);
                        console.log(ajaxOptions);
                        console.log(thrownError);
                    },
                    complete: function() {
                        $('#chats').html("cargado!!!!!");
                    }
                });
            }
        });
    </script>
</main>