
#search_input {
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    border: 1px solid #ddd; /* Add a grey border */
}

#all_students_list {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#all_students_list li {
    margin-bottom: 0px;
}

#all_students_list li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#all_students_list li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}



.loading {
    height: 50px;
    margin: auto;
    display: block;
}

#messages-loading {
    display: none;
}

.dm-header {
    margin-top: 10px;
}

#all_students_list {
    margin: 10px 0;
}


/*
    Chat
*/

#list {
    overflow-y: scroll;
    height:335px;
    max-height:335px;
}


ul.recent-messages-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

ul.recent-messages-list li.user-list {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

ul.recent-messages-list li.user-list:hover {
    font-weight: bold;
}

ul.recent-messages-list li.user-list:before,
ul.recent-messages-list li.user-list:after {
    content: "";
    display: table;
    clear: both;
}

ul.recent-messages-list li.user-list span.icon-list {
    padding: 8px 16px;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    
    white-space: normal;
    font-size: 18px!important;
    float: right!important;
    color: #000!important;
    background-color: #fff!important;
}

ul.recent-messages-list li.user-list div.info-list {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

ul.recent-messages-list li.user-list div.info-list span.name-list {
    font-size: 18px!important;
}

ul.recent-messages-list li.user-list div.info-list span.status-list {
    font-size: 12px!important;
}



.dmWrapper {
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
    color: #fff;
}
.inlineContainer {
    display: inline-flex;
}
.inlineContainer.own {
    flex-direction: row-reverse;
}
.inlineIcon {
    width:20px;
    object-fit: contain;
}
.DM {
    min-width: 60px;
    max-width: 600px;
    padding: 14px 18px;
    margin: 6px 8px;
    background-color: #0f98e3;
    border-radius: 16px 16px 0 16px;
    border: 1px solid #0f98e3;

}
.otherDM {
    min-width: 60px;
    max-width: 600px;
    padding: 14px 18px;
    margin: 6px 8px;
    background-color: #0f98e3;
    border-radius: 16px 16px 16px 0;
    border: 1px solid #0f98e3;

}
.own {
    align-self: flex-end;
}
.other {
    align-self: flex-start;
}
span.own,
span.other{
    font-size: 14px;
    color: grey;
}


#dmChats{
    overflow-y: scroll;
    height:300px;
    max-height:300px;
}

#dmChats div {
    display: flex !important;
}



.send-message {
    border: solid 1px green;
    position: relative;
}
.send-message input[type=text] {
    border: none;
    width: 100%;
    padding-right: 123px;
}
.send-message .input-group-prepend {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;z-index:9;
}
.send-message .submit-message {
    height: 35px;
    padding: 4px 20px !important;
}